@{
    ViewData["Title"] = "Cost Shipping";
}
@model fms.Models.trCostShipping;
@section Header
{
    <link rel="stylesheet" href="~/AdminLTE/bower_components/datatables.net/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/AdminLTE/bower_components/datatables.net/css/rowDetails.dataTables.min.css">
}

<div id="errorMessageHeader">
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body table-responsive">
                <table id="indexTable" class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="overlay" id="refreshLoad">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
@section scripts{
    <script src="@Url.Content("https://code.jquery.com/jquery-2.2.4.min.js")"></script>
    <script src="@Url.Content("~/AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js")"></script>

    <script>
        $(document).ready(function(){
            var table = $('#indexTable').DataTable( {
                "columns": [
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    },
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    },
                    {
                        "targets": [1],
                        "defaultContent": ''
                    },
                    {
                        "targets": [2],
                        "defaultContent": ''
                    },
                    {
                        "targets": [3],
                        "data": null,
                        "defaultContent": "<input type='button' href='#' style='width: 80px; height: 5spx;' value='New' class='newTransaction btn btn-primary' />"
                    },
                ],
                "autoWidth": false
            } );

            // Add event listener for opening and closing details
            $('#indexTable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row( tr );

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child( showDetail(row.data()) ).show();
                    tr.addClass('shown');
                }
            } );

            loadVendor();
            $('#refreshLoad').remove();
        });

        function loadVendor() {
            $('#indexTable').DataTable().clear().draw();
            $('#divError').remove();

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'GET',
                url: "/CostShipping/loadVendor",
                success: function (result) {
                    switch (result.status) {
                        case 200:
                            //load vendor
                            for (var i=0; i < result.message.length; i++) {
                                $('#indexTable').DataTable().row.add([
                                    '',
                                    result.message[i].id,
                                    result.message[i].code,
                                    result.message[i].name
                                 ]).draw(false);
                            }
                            break;
                    }
                },
                error: function (result) {
                    var element = document.getElementById("errorMessageHeader");
                    var error = '<li>Error! Check Console</li>';
                    var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                    element.innerHTML = alert;
                    console.log(result);
                }
            });
        }

        $(document).on('click', '.newTransaction', function (e) {
            e.preventDefault();

            var data = $('#indexTable').DataTable().row($(this).parents('tr')).data();
            var id = data[1];

            window.location.href = '/CostShipping/Add/' + id;
        });

        function showDetail (data) {
            var id = data[1];
            var div = $('<div/>').addClass('loading').text('Loading...');

            var result = '';

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'GET',
                url: "/CostShipping/loadTransaction/" + id,
                success: function (result) {
                    switch (result.status) {
                        case 200:
                            var txData = result.message;
                            var length = result.message.length;

                            result = '<table id="detailTable" class="table table-bordered table-striped" style="width:100%">';
                            result = result + '<thead><tr><th>Ref No</th><th>Date</th><th>Valid Date</th><th>Updated By</th><th>Updated On</th><th>Action</th></tr></thead>';
                            result = result + '<tbody>';

                            for (var i=0; i < length; i++) {
                                result = result + '<tr>';
                                result = result + '<td>' + txData[i].referenceNo + '</td>';
                                result = result + '<td>' + txData[i].txDate + '</td>';
                                result = result + '<td>' + txData[i].txValidDate + '</td>';
                                result = result + '<td>' + txData[i].updatedBy + '</td>';
                                result = result + '<td>' + txData[i].updatedOn + '</td>';
                                result = result + '<td><input type="button" data-itemId="' + txData[i].id.toString() + '" href="#" style="width: 80px" value="View" class="viewTransaction btn btn-info" /></td>';
                                result = result + '</tr>';
                            }
                            result = result + '</tbody></table>';

                            div.html(result).removeClass('loading');
                            break;
                    }
                },
                error: function (result) {
                    var element = document.getElementById("errorMessageHeader");
                    var error = '<li>Error! Check Console</li>';
                    var alert = '<div class="alert alert-danger alert-dismissible" id = "divError"> <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-ban"></i> Error!</h4><div class="validation-summary-errors" data-valmsg-summary="true"><ul>' + error + '</ul></div></div>';

                    element.innerHTML = alert;
                    console.log(result);
                }
            });

            return div;
        }

        $(document).on('click', '.viewTransaction', function (e) {
            e.preventDefault();

            var id = $(this).attr('data-itemId');
            window.location.href = '/CostShipping/Edit/' + id;
        });
    </script>
}