@{
    ViewData["Title"] = "Tax";
}
@model fms.Models.mtTax;

@if (ViewBag.Error)
{
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> Error!</h4>
        @Html.ValidationSummary()
    </div>
}
<div class="row">
    <!-- left column -->
    <div class="col-xs-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <!-- form start -->
            <form role="form" method="post" asp-controller="Tax" asp-action="Create">
                <div class="box-body">
                    <div class="form-group">
                        <label for="code">@Html.DisplayNameFor(model => model.code)</label>
                        <input type="text" class="form-control" id="code" asp-for="code" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="description">@Html.DisplayNameFor(model => model.amount)</label>
                        <input type="number" class="form-control" id="description" asp-for="amount" lang="en-US" step=".01">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" asp-for="isActive"> @Html.DisplayNameFor(model => model.isActive)
                        </label>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Save</button>&nbsp;
                    <a class="btn btn-default" asp-controller="Tax" asp-action="index">Cancel</a>
                </div>
            </form>
        </div>
        <!-- /.box -->
    </div>
    <!--/.col (left) -->
</div>
@section scripts{
    <script>
        $(document).ready(function(){
            
        });
    </script>
}